.todo-container {
    width: 500px;
    min-height: 65px;
    margin: 5px 0;
    background-color: #415a77;
    color: #e0e1dd;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

.todo-text {
    width: auto;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.todo-icon {
    width: 25px;
    height: 25px;
    margin: 5px;
}

/* Completed todo item*/

.todo-container.completed {
    background-color: #0d1b2a;
    text-decoration: line-through;
}